video{
  margin: 0em 0em;
  padding: 0;
  width: 101%;
}



		@include w1024h1366{


		}
		@include w800h1280{

		}
		@include w768h1024{

		}
		@include w720h1280{

		}
		@include w720h1080{

		}
		@include w600h1024{

		}
		@include w600h960{

		}
		@include w414h736{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }

		}
		@include w412h732{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w412h723{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w412h690{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w384h640{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w375h667{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w360h698{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w360h640{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w320h668{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w320h553{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
		@include w320h480{
      video{
        margin: 0em 0em;
        padding: 0;
        width: 101%;
      }
		}
