#producto-dos{
  .row{
    width:100% !important;
  }
 button{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url('../assets/img/producto-dos.jpg');
 }
}
#producto-dos-reversa{
  .row{
    width:100% !important;
  }
 button{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url('../assets/img/producto-dos.jpg');
 }
}
