#productos-resumen{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:40em;
  background-image: url('../assets/img/productos.jpg');
  .card-transparente{
    background-color: rgba(251, 251, 251, 0.66);;
    border-radius:1.92em 1.92em 1.92em 1.92em;
    width:66%;
    transform: translate(-3%, 44%);
    h1{
      font-size: 3em;
      font-family: ch_semibold;
      color:$contrast;
    }
    hr{
      width:30%;
      color:$dark;
      border: 0.24em solid;
    }
    p{
      font-size: 1em;
      padding: 2em 4em;
      font-family:ch_semibold;
      color:$contrast;
    }
    button{
      background-color: transparent;
      padding: 0.9em 1.5em;
      border: 2px solid $cloudbit;
      border-radius: 1em 1em;
      a{
        color: $cloudbit;
        font-size: 1.66em;
        font-family: ch_bold;
      }
    }

  }

  		@include w1024h1366{

  		}
  		@include w800h1280{


  		}
  		@include w768h1024{

  		}
  		@include w720h1280{

  		}
  		@include w720h1080{


  		}
  		@include w600h1024{

  		}
  		@include w600h960{


  		}
  		@include w414h736{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }
  		}
  		@include w412h732{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }
  		}
  		@include w412h723{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }
  		}
  		@include w412h690{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }

  		}
  		@include w384h640{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }
  		}
  		@include w375h667{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }

  		}
  		@include w360h698{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }
  		}
  		@include w360h640{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }

  		}
  		@include w320h668{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }

  		}
  		@include w320h553{
        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }

  		}
  		@include w320h480{

        .card-transparente{

          width:100%;
          transform: translate(1%, 35%);
          h1{
            font-size: 2em;
          }
          p{
            font-size: 1em;
            padding: 0.5em 0.6em;
          }
          button{
              a{
              font-size: 1.66em;
            }
          }

        }
  		}

}
