#servicios-resumen{
  #titulo{
    p{
      font-size: 3em;
      font-family: ch_semibold;
      color:$contrast;
      line-height: 3em;
    }
    hr{
      width:30%;
      color:$dark;
      border: 0.24em solid;
    }
  }
  embed{
      width: 50%;
      height:50%;
      padding: 1em 0em;
    }
  .resumen-iconos{
      font-size: 1em;
      padding: 0.44em 4em;
      font-family:ch_semibold;
      color:$contrast;
    }
    button{
      background-color: transparent;
      padding: 0.9em 1.5em;
      border: 2px solid $cloudbit;
      border-radius: 1em 1em;
      a{
        color: $cloudbit;
        font-size: 1.66em;
        font-family: ch_bold;
      }
    }




}
